.contenedor{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:  "header"
                         "descripcion"
                         "footer";

}


.header{
    
   
    grid-area: header;

}
.descripcion{
    
    grid-area: descripcion;
    
  
}

.footer{
    
    grid-area: footer;
}
    