*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    font-family: "Titillium Web",sans-serif;
    
}

header{
    border-bottom: 1px solid black;
    
}
footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    min-height: 50px;

}

.header{
    width: auto;
    display: flex;
    
}

.logo{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
    width: 25%;

}
.logo>h3{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: orange;

}
.navi{
    display: flex;
    align-items:center;
    justify-content:flex-end;
    width: 75%;
}   

.efecto{
    background-image:
    linear-gradient(
        transparent 0%,
        transparent 90%,
        
        red 90%,
        red 100%
       

    );
    background-repeat: no-repeat;
    background-size: 0% 100% ;
    background-position-x: right;
    transition: background-size 300ms;
}
.efecto:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.imagen{
    width: 40px;
}

a>p{
    font-weight: bold;
}
.titulo{
    color: rgb(0, 0, 0);
    font-size: 75px;
    font-weight: bolder;
    position: relative;
    text-shadow: white 0.3em 0.3em 0.4em
    
    
    
    
}
.fondo{
    position: relative;
}
.fondo::before{
    content: "";
    background-image: url("img/fondo.jpg");
    background-size:cover;
    background-position-y:center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    
    
    
    


}

.contenedor_titulo{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start ;
    margin-top: 50px;
    
    

}



.contenedor_tarjetas{
    
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:    "pan     leche jugo"
                            "huevo  aceite  arroz"
                            "comprar comprar comprar";
    height: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    
    
}

.contenedor_tarjetas>div{
    display: flex; 
    justify-content: center;
    align-items: center;
    



}

.card>img{
    width: 150px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 10px;
    
}

.contenedor_form{
    padding: 20px;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightcoral;
    
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    
}

.contenedor_comprar{

    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.pan{
    grid-area: pan;
}
.leche{
    grid-area: leche;
}
.jugo{
    grid-area: jugo;
}
.huevo{
    grid-area: huevo;
}
.aceite{
    grid-area: aceite;
}
.arroz{
    grid-area: arroz;
}
.comprar{
    grid-area: comprar;
}

.oculto{
    display: none;
}
.contenedorCompra{
    background-color: white;
    position: relative;
    border-radius: 20px;
    width: 50%;
    padding: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer img{
    width: 40px;
    margin: 20px;
}